{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    [
      "module-resolver", {
        "root": ["./src/client"]
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            }
          ]
        }
      }
    ]
  ]
}
